.app{
        margin: auto;
        max-width: 1440px;
        position: relative;
}

.dark .socials {
        color: #fff;
}
.light .socials {
        color: #12213b;
}

.light .nav-links {
        color: #12213b;
}