.app{
        margin: auto;
        max-width: 1540px;
        position: relative;
}

.dark .socials {
        color: #fff;
}
.light .socials {
        color: #12213b;
}

.light .nav-links {
        color: #12213b;
}


.active-link {
        color: #4088df;
        border-bottom: 4px solid #0073ff ;
        border-radius: 3px;
}

.dark .custom-group-avatar:hover .avatar-btn-hover{
        background-color: #ffffff98;
}
.light .custom-group-avatar:hover .avatar-btn-hover{
        background-color: #000000b9;
}

